* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

.game-board {
    display: none;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);

    gap: 8px;

    margin: 20px auto;
    width: max-content;
}

/* for the marker in cell */
.cell {
    border: 2px solid black;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    transition: border-color 0.2s ease;
    /* for color change*/
}

.cell:hover {
    border-color: #4a90e2;
}

.message-box {
    margin-top: 12px;
    font-weight: 600;
    font-size: 24px;
}

.controls {
    margin-top: 12px;
    display: flex;
    gap: 16px;
}

h1 {
    text-align: center;
    margin-top: 22px;
    margin-bottom: 10px;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.players {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin: 16px;
    font-size: 18px;
}

.players .player-row {
    display: flex;
    gap: 12px;
}

.players input {
    font-size: 16px;
    width: 220px;
}

button {
    padding: 12px 16px;
    font-size: 24px;
    cursor: pointer;
}